<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VehicleInsuranceSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.vis.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationController</display-name>
    <servlet-name>RegistrationController</servlet-name>
    <servlet-class>com.vis.controller.RegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationController</servlet-name>
    <url-pattern>/RegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleRegController</display-name>
    <servlet-name>VehicleRegController</servlet-name>
    <servlet-class>com.vis.controller.VehicleRegController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleRegController</servlet-name>
    <url-pattern>/VehicleRegController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleRegAdminController</display-name>
    <servlet-name>VehicleRegAdminController</servlet-name>
    <servlet-class>com.vis.controller.VehicleRegAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleRegAdminController</servlet-name>
    <url-pattern>/VehicleRegAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VehicleRegUpdate</display-name>
    <servlet-name>VehicleRegUpdate</servlet-name>
    <servlet-class>com.vis.controller.VehicleRegUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VehicleRegUpdate</servlet-name>
    <url-pattern>/VehicleRegUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentController</display-name>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>com.vis.controller.PaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/PaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisteredPayController</display-name>
    <servlet-name>RegisteredPayController</servlet-name>
    <servlet-class>com.vis.controller.RegisteredPayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisteredPayController</servlet-name>
    <url-pattern>/RegisteredPayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DirectPaymentController</display-name>
    <servlet-name>DirectPaymentController</servlet-name>
    <servlet-class>com.vis.controller.DirectPaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirectPaymentController</servlet-name>
    <url-pattern>/DirectPaymentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoggerInitializer</display-name>
    <servlet-name>LoggerInitializer</servlet-name>
    <servlet-class>com.vis.logger.LoggerInitializer</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoggerInitializer</servlet-name>
    <url-pattern>/LoggerInitializer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayController</display-name>
    <servlet-name>PayController</servlet-name>
    <servlet-class>com.vis.controller.PayController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayController</servlet-name>
    <url-pattern>/PayController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DirectPaymentControllerNew</display-name>
    <servlet-name>DirectPaymentControllerNew</servlet-name>
    <servlet-class>com.vis.controller.DirectPaymentControllerNew</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DirectPaymentControllerNew</servlet-name>
    <url-pattern>/DirectPaymentControllerNew</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaimController</display-name>
    <servlet-name>ClaimController</servlet-name>
    <servlet-class>com.vis.controller.ClaimController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimController</servlet-name>
    <url-pattern>/ClaimController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaimcController</display-name>
    <servlet-name>ClaimcController</servlet-name>
    <servlet-class>com.vis.controller.ClaimcController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimcController</servlet-name>
    <url-pattern>/ClaimcController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaimdController</display-name>
    <servlet-name>ClaimdController</servlet-name>
    <servlet-class>com.vis.controller.ClaimdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimdController</servlet-name>
    <url-pattern>/ClaimdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccidentController</display-name>
    <servlet-name>AccidentController</servlet-name>
    <servlet-class>com.vis.controller.AccidentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccidentController</servlet-name>
    <url-pattern>/AccidentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TheftController</display-name>
    <servlet-name>TheftController</servlet-name>
    <servlet-class>com.vis.controller.TheftController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TheftController</servlet-name>
    <url-pattern>/TheftController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelUserController</display-name>
    <servlet-name>CancelUserController</servlet-name>
    <servlet-class>com.vis.controller.CancelUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelUserController</servlet-name>
    <url-pattern>/CancelUserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminCancelController</display-name>
    <servlet-name>AdminCancelController</servlet-name>
    <servlet-class>com.vis.controller.AdminCancelController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminCancelController</servlet-name>
    <url-pattern>/AdminCancelController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelAdminController</display-name>
    <servlet-name>CancelAdminController</servlet-name>
    <servlet-class>com.vis.controller.CancelAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelAdminController</servlet-name>
    <url-pattern>/CancelAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelAdminController1</display-name>
    <servlet-name>CancelAdminController1</servlet-name>
    <servlet-class>com.vis.controller.CancelAdminController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelAdminController1</servlet-name>
    <url-pattern>/CancelAdminController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelUserController1</display-name>
    <servlet-name>CancelUserController1</servlet-name>
    <servlet-class>com.vis.controller.CancelUserController1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelUserController1</servlet-name>
    <url-pattern>/CancelUserController1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelControllerUpdate</display-name>
    <servlet-name>CancelControllerUpdate</servlet-name>
    <servlet-class>com.vis.controller.CancelControllerUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelControllerUpdate</servlet-name>
    <url-pattern>/CancelControllerUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelUpdate</display-name>
    <servlet-name>CancelUpdate</servlet-name>
    <servlet-class>com.vis.controller.CancelUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelUpdate</servlet-name>
    <url-pattern>/CancelUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaimAdminList</display-name>
    <servlet-name>ClaimAdminList</servlet-name>
    <servlet-class>com.vis.controller.ClaimAdminList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimAdminList</servlet-name>
    <url-pattern>/ClaimAdminList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaimUpdate</display-name>
    <servlet-name>ClaimUpdate</servlet-name>
    <servlet-class>com.vis.controller.ClaimUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimUpdate</servlet-name>
    <url-pattern>/ClaimUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaimAdminTheft</display-name>
    <servlet-name>ClaimAdminTheft</servlet-name>
    <servlet-class>com.vis.controller.ClaimAdminTheft</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimAdminTheft</servlet-name>
    <url-pattern>/ClaimAdminTheft</url-pattern>
  </servlet-mapping>
</web-app>