table.zui-table {
	background-color: #FAFAFA;
    border: solid 1px #000000;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}

table.zui-table thead th {   
	background-color: #4CAF50 !important;
    border: solid 1px #000000;
    color: #336B6B;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #fff;
}
table.zui-table tbody td {
    border: solid 1px #000000;
    text-align: center;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}
table.zui-table-highlight tbody tr:hover {
    background-color: #BBFAC7;
}
table.zui-table-horizontal tbody td {
    border-left: solid 1px #000000;
    border-right: solid 1px #000000;
}